.boxRendering {
  box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.8);
  border: 2px solid rgb(255, 176, 176);
  animation: pulseShadow 1s ease-in-out infinite alternate;
}

@keyframes pulseShadow {
  from {
    box-shadow: 0 0 10px 2px rgba(255, 129, 129, 0.8);
  }
  to {
    box-shadow: 0 0 20px 6px rgb(255, 113, 113);
  }
}